body{
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

.main{
    margin-top: 80px;
    width: 600px;
    height: 608px;
    background-color: #999999;
    border: none;
    display: flex;
    flex-wrap: wrap;
}
.box{
    width: 198px;
    height:201px;
    border: 1px solid black;
}